.site-footer{
	background: $color__border;
	margin: 0px;
  padding: 3em;
  font-size: 1.2em;
  color: white;
  text-align: center;
  
  a{
	  color: white;
	  text-decoration: underline;
	  
	  &:hover{
		  text-decoration: none;
	  }
  }
  
  .site-info{
		font-size: 0.85em;		 
		 
	  .sosumi{
		  .sosumi-title{
				text-transform: uppercase;
				font-weight: 600;
				margin-bottom: 0.1em; 
				font-size: 0.85em; 
				letter-spacing: 0.1em;
		  }
		  
	  }
	  
	  .by{
		  margin-bottom: 1.2em;
	  }
  }
}