.site-content{
	
	.cta{
		div{
			padding-top: 1em;
			color: #666;
		}	
		
		margin-bottom: 3em;	
	}
	.button{
		
		border-radius: 2px;
		display: inline-block;
		color:white;
		background-color: rgba(15, 158, 197, 0.68);
		transition: background-color 0.25s ease-out 0s, border-color 0.25s ease-out 0s;
		padding: 0.3em 0.5em;
    font-size: 1.5em;
    text-transform: uppercase;
    
    
		&:hover{
			background-color:rgba(15, 158, 197, 1);
			color: white;
		}		
		
	}
	
	
	
	
	section{
		padding-top: 3.5em;
		padding-bottom: 3em;
		
		
		&.alt{
			background-color: #F1F1F1;
						
			.inner .title a{
				
	    	color: #767676;
				
				&:before{
					background: white;
					opacity:1;
				}
			}
		}
		h1, h2, h3, h4, h5{
			font-weight: normal;
		}
		
		&.current .inner .title a:before{
			height:100%;
		}
		
		.inner{
			@include outer-container;
			padding-left: 20px;
			padding-right: 20px;
		  padding-bottom: 2em;
			
			@include media($mobile){
				padding-left: 14px;
				padding-right: 14px;
			}
			
			.subtitle{
				font-size: 1.6em;
				color: #767676;				
				text-align: center;
		    text-transform: uppercase;
		    font-weight: 600;
			}

			.title{
				font-size: 2em;
	   	 color: #C5C5C5;
		 	 text-transform: uppercase;
	   	 font-weight: 600;
				text-align: center;
				margin: 0 0 2em;
				
				
				a{
					position: relative;
					padding: 0.2em 0.5em;
					display: inline-block;
	    color: #979797;
	        z-index: 1;
					
					&:before{
						background-color: #1c1c1c;
				    content: "";
				    left: 0;
				    height: 2px;
				    width: 100%;
				    position: absolute;
				    bottom: 0;
				    z-index: -1;
						transition: height 0.20s ease-out 0s, opacity 0.20s ease-out 0s;
							opacity: 0.05;
					}
					
					&:hover{
						&:before{
							height:100%;
						}
					}
				}
			}


		}		
		
		
		
	}
	
	section.hero{
		height: auto;
		background-image: url(/img/hero.jpg);
		background-size: cover;
		background-position: center center;
		text-align: center;
		width: 100%;
		z-index: 99;
		opacity: 1;
		border: none !important;
		background-size: cover;
		background-position: center center;
		background-color: black;
		position: relative;

		@include media($mobile){	
			font-size: 0.8em		
		}	

		
			&:after{
			  content: " ";
		    position: absolute;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%);
		    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%);
		    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%);
		    background-repeat: repeat-x;
		  }

		
		h1.title{
			font-size: 5em;
			display: block;
			padding: 0.1em 0em;
			margin: 0em 0 0em;
			color: #3e3e3e;
			font-weight: 200;

			@include media($mobile){	
				font-size: 4em;
			}					
		}
		
		date{
			display: block;
			color: #3e3e3e;
			font-size:1.7em;
			margin: 0em 0 3em;
			font-weight: 200;			
		}
		
		.hero-content{
			padding: 5em 0 0em;
			z-index: 100;
			position: relative;
		}
		
		
		.countdown{
			margin-bottom: 4em;
			
			@include media($mobile){	
				display: none;
			}					
				
						
			div{
				color: white;
				display: inline-block;
				background: rgba(15, 158, 197, 0.68);
				padding: 1em;
				text-align: center;
				margin: 0 0.5em 0;
				border-radius: 5px;
				width: 140px;
				
				h4{
					text-transform: uppercase;
					margin: 0 0 0.3em;
				}
				
				span{
					display: inline-block;
					font-size: 4.5em;
					line-height: 1.1;
				}

				@include media($tablet-small){	
					width: 15%;
					span{
						font-size: 2em;
					}
					
					h4{
						font-size: 0.8em;
					}
				}					
				
			}
		}
		
		.share-headline{
			font-size: 2em;
			display: block;
			padding: 0.1em 0.7em;
			margin: 0em 0 0.2em;
			color: #3e3e3e;
			font-weight: normal;
			
		}
		
		.sharing{
			margin:2em 0 0;
			padding: 0px;
				
			li{
				margin:0 0.5em 0;
				display: inline-block;

										
				span{
					display: block;
				}
				
				a{
					display: block;
					padding: 0.3em 0.4em;
					color: rgba(0,0,0,0.6);
					border: 1px solid rgba(0,0,0,0);
					background-color: transparent;
					font-size: 1.2em;
					transition: background-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
					text-decoration: none;
					box-shadow: none;
					border-radius: 3px;
					
					&:hover{
						color: #FFF;
					}
												
					i{
						min-width: 1.2em;
						display: inline-block;
					}						
				}
				
	
				.sharing-twitter{
					
					&:hover{
						background-color: $color__twitter;
						border-color:lighten($color__twitter, 15%);
					}
				}		
		
				.sharing-facebook{
					
					&:hover{
						background-color: $color__facebook;
						border-color: lighten($color__facebook, 15%);	
					}
				}	
			}

			  
			@include media($mobile){
				position: relative;
				bottom: auto;
				right: auto;				
				padding-top: 1.5em;

				li{
					margin:0 1.3em 0 0;
				}

			}
			
			
		}		
		
	}
	
	section#tickets, section#newsletter{
		display: none;
	}
	
	section.about{
		
		.intro{
	    font-size: 1.5em;
	    font-weight: 200;
	    margin: 0px 7em 3em;
	    text-align: center;
	    
	    	@include media($tablet-small){	
		    	margin-left: 0em;
		    	margin-right: 0em;
				}					

		}
		
		.bullets {
		  $icon-bullet-size: 3.5em;
		
		  display:flex;
		  flex-wrap: wrap;
		  margin-bottom: 1.5em;
		  margin: 1em;
		  overflow: auto;
		  padding: 0;
		
		  .bullet {
		    flex-basis: 20em;
		    flex-grow: 1;
		    padding-left: 1em;
		    padding-right: 1em;
		  }
		
		  .bullet-icon {
		    background: $color__border;
		    border-radius: 50%;
		    float: left;
		    height: 2.7em;
		    padding: 0.575em;
		    width: 2.7em;
		    font-size: 1.4em;
		    color: white;
		    text-align: center;
		  }
		
		
		  .bullet-content {
		    margin-left: $icon-bullet-size * 1.4;
		    margin-bottom: 2em;
		    
		    a{
			    text-decoration: underline;
			    
			    &:hover{
				    text-decoration: none;
			    }
		    }
		  }
		
		  h2 {
		    border-bottom: 1px solid #C5C5C5;
		    display: inline-block;
		    font-size: $icon-bullet-size / 2.5;
		    margin: 0 0 ($icon-bullet-size / 6) 0;
		    padding-top: $icon-bullet-size / 7;
		  }
		
		  li {
		    list-style: none;
		  }
		
		  p {
		    line-height: 1.5em;
		  }
		
		  img {
		    max-width: 100%;
		  }
		}

	}
	
	section.schedule{
		
		.timetable-container{
			margin:0 auto;
			width: 35%;
			max-width: 400px;
			min-width: 300px;
	    padding: 3em 2em 1em;
			background: white;
		}
		.timetable{
			border-left: 4px solid $color__border;

			article{
				position: relative;
				padding: 0 0 0 2em;
				top: -4px;
				margin-bottom: 2em;
				
				&:after{
					content: "";
					top:2px;
					left: -15px;
					position: absolute;
					width: 25px;
					height: 25px;
					border-radius: 50%;
					border: 3px solid $color__border;
					background-color: white;
					box-shadow: 0px 0px 0px 4px white;
 				}
 				
 				a{
	 				&:hover{
		 				text-decoration: underline;
	 				}
 				}
 				
 				time{
	 				display: block;
	 				color: #999;
	 				font-size: 1.1em;
	 				text-transform: uppercase;
	 				margin: 0 0 0.2em;
 				}
				
				h4{
	 				font-size: 1.25em;
					margin: 0 0 0.5em 0;
					padding: 0px;
					position: relative;
					
					span{
						
					}
				}
				
				p{
					margin: 0.5em 0em 0em;
				}
			}
		}	
	}

	
	section.tweet{
		.tweets{

			article{
				

				@include media($desktop-small-up){
					@include span-columns(3);
					@include omega(4n);
				}				

				@include media($tablet-large){
					margin-bottom: 1.7em;
				}	


				@include media($tablet-large-only){
					@include span-columns(4.5);
					@include omega(2n);
				}	

				@include media($tablet-small-only){
					@include span-columns(3);
					@include omega(2n);
				}	
				
					
			}
		}	
	}

	section.sponsors{
		.sponsor-container{
			
			text-align: center;
			
			a{
				transition: opacity-color 0.25s ease-out 0s;
				display: inline-block;
		    margin-right: 1em;
		    margin-left: 1em;

				&:hover{
					opacity: 0.7;
				}
			}
		}
	}
	
	
	section.photos{
		
		.credit{
	  	color: #A5A5A5;
	  	font-size: 0.8em;
	  	text-align: center;
	  	margin: 1em 0;
		}
		.photo-container{
			
			
			
			div:first-child{
				width: 50%;				
				padding-left: 0;
			}
			
			div{
				float: left;
				width: 25%;				
				margin:0px;
				padding-left: $gutter/2;		
				padding-bottom: $gutter/2;		
			}
		}	
		
		.photo-container-alt{
			
			div:first-child{
				float:right;								
				padding-right: 0;		
			}

			div{
				padding-left: 0;		
				padding-right: $gutter/2;		

			}			
		}
	}

	section.team{
		
		.team-container{
			margin:0 auto;
			width: 60%;
			max-width: 580px;
			min-width: 300px;
	    padding: 3em 3em 1em;
			background: white;
			list-style: none;
			text-align: center;
		}

			li{
				font-size: 1.5em;
				margin-bottom: 0.5em;
				
				@include media($tablet-large){
					font-size: 1.2em;
				}
				
				a{
					color: $color__twitter;
				}
				
			}
			
	}

	
	section.map{
		padding-bottom: 0em;
		
		.venue{
			font-size: 2em;
	    color: #A6A6A6;
	    text-transform: uppercase;
	    font-weight: 600;
	    text-align: center;
		}
		
		#map_canvas {
		  height: 400px;
		  width: 100%;
		}
		
		#map_canvas img { 
		  max-width: none; 
		// to prevent UI control bug
		}
		
		#map_canvas .content {
		  padding: 0 0.5em 1em 0.5em;
		}
		
		#map_canvas .firstHeading {
		  font-size: 1em;
		  line-height: 1em;
		  font-weight: bold;
		  margin: 0;
		}
		
		#map_canvas #bodyContent p {
		  font-size: 1em;
		  margin: 0;
		}
	}

}


#catcontainer{
	position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  text-align: center;
  display: none;
  
  img{
	  margin-top: 10%;
	  max-width: 100%;
  }
}