$color__background-body: #fff;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__link: #0F9EC5;
$color__text-main: #131313;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__border: #0F9EC5;

$color__twitter: #4A90E2;
$color__facebook: #3b5998;
$color__whatsapp: #4dc247;
$color__rss: #ff8100;
$color__linkedin: #0077b5;
$color__instagram: #3f729b;